/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block-start: 100px;
  padding-block-end: 100px;
  color: var(--accent-color);
  font-family: var(--main-font), sans-serif;
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: "wght" var(--regular-font-wght);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block-end: 100px;
  border: 2px solid var(--accent-color);
  padding-block-start: clamp(7.5rem, 7.1479rem + 1.5023vw, 8.5rem);
  padding-block-end: 23px;
  font-family: var(--accent-font), fantasy;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  background-color: var(--bg-color);
  inline-size: var(--flexible-width);
}

.header__logo {
  padding-block-end: 20px;
  font-family: inherit;
  font-weight: inherit;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  text-decoration: none;
}

.header__title {
  padding-block-end: 24px;
  font-family: inherit;
  font-weight: inherit;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 11px;
}

.theme-menu__button {
  position: relative;
  font-family: inherit;
  border: none;
  padding: 1px 0;
  margin-inline-start: 18px;
  font-weight: 400;
  font-size: 14px;
  line-height: normal;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
}

.theme-menu__button::after {
  content: "";
  position: absolute;
  display: inline-block;
  background-color: var(--accent-color);
  inset-block-end: 0;
  inset-inline-start: 0;
  inline-size: 100%;
  block-size: 2px;
  transform: scaleX(0);
  transform-origin: 0;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  display: inline-block;
  inset-inline-start: -18px;
  block-size: 14px;
  inline-size: 14px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  inline-size: var(--flexible-width);
}

.card {
  border: 2px solid var(--accent-color);
  padding-block-end: 25px;
  background-color: var(--bg-color);
  inline-size: 100%;
}

.card__title {
  padding: 5px 10px;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  font-family: var(--main-font), sans-serif;
  font-variation-settings: "wght" var(--bold-font-wght);
}

.card__image {
  position: relative;
  margin-block-end: 26px;
  border-block-start: 2px solid var(--accent-color);
  border-block-end: 2px solid var(--accent-color);
  inline-size: 100%;
  block-size: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
}

.card__image-label {
  position: absolute;
  z-index: 2;
  opacity: 0.5;
  color: var(--accent-color);
  font-family: var(--accent-font), fantasy;
  font-weight: 400;
  font-size: 14px;
  line-height: normal;
  text-transform: uppercase;
  text-shadow:
          -1px 0 var(--shadow-color),
          0 1px var(--shadow-color),
          1px 0 var(--shadow-color),
          0 -1px var(--shadow-color);
  inset-block-start: 25px;
  inset-inline-end: clamp(0.6875rem, 0.3794rem + 1.3146vw, 1.5625rem);
  mix-blend-mode: hard-light;
}

@supports ((text-stroke: 1px #fff) or (-webkit-text-stroke: 1px #fff)) {
  .card__image-label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--shadow-color);
    text-stroke: 1px var(--shadow-color);
  }
}

.card__image-pic {
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
}


.card__image-pic_filter_blur {
  filter: blur(6px);
}

.card__image-pic_filter_saturate {
  filter: saturate(70%);
}

.card__image-pic_filter_invert {
  filter: invert(1.6);
}

.card__image-pic_filter_hue {
  filter: hue-rotate(-70deg);
}

.card__image-pic_filter_opacity {
  filter: opacity(0.7);
}

.card__image-pic_filter_mixed {
  filter: sepia(0.8) contrast(30%) brightness(120%);
}

.card__image-pic_filter_grayscale {
  filter: grayscale(0.7);
}


.card__text {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 27px;
  padding: 0 25px 23px;
  font-family: var(--main-font), sans-serif;
  font-weight: var(--regular-font-wght);
  font-size: 18px;
  line-height: 116.667%;
}

.card__buttons {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 4px;
  padding: 0 25px;
}

.card__like-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-inline-size: 130px;
  border: 2px solid var(--accent-color);
  padding: 11px 0;
  background-color: transparent;
  cursor: pointer;
}

.button__text {
  position: relative;
  z-index: 2;
  color: var(--button-font-color);
  font-family: var(--accent-font), fantasy;
  font-weight: 400;
  font-size: 14px;
  line-height: 90%;
  mix-blend-mode: difference;
}


.card__icon-button {
  display: flex;
  align-items: center;
  border: 2px solid transparent;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.like-icon {
  inline-size: 39px;
  block-size: 36px;
}

.core {
  fill: transparent;
}

.main-body {
  fill: transparent;
}

.sparks {
  opacity: 0;
}

.like-icon.is-liked .heart {
  transform-origin: center;
}


.save__button {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
  border: 2px solid var(--accent-color);
  padding: 15px 18px;
  background-color: var(--bg-color);
  cursor: pointer;
  inline-size: clamp(19.125rem, 18.4868rem + 2.723vw, 20.9375rem);
}

.save__button:focus {
    outline: none;

}

.save__button:focus-visible {
  outline: var(--accent-color) solid 2px;
}

.floppy-icon {
  position: relative;
  z-index: 2;
  inline-size: 21px;
  block-size: 21px;
  mix-blend-mode: difference;
}

.floppy-icon__container {
  color: var(--button-font-color);
}

.disk-window[open] {
  display: grid;
  grid-template-columns: min-content 1fr;
  justify-content: start;
  align-items: center;
  row-gap: 30px;
  column-gap: 20px;
  border: 2px solid var(--accent-color);
  padding: 30px;
  color: var(--accent-color);
  font-family: var(--accent-font), fantasy;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  background-color: var(--bg-color);
  inline-size: clamp(21.3125rem, 20.9604rem + 1.5023vw, 22.3125rem);
}

.disk-window::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.disk-window__text {
  line-height: 150%;
}

.disk-window__form {
  grid-column: 1/3;
}

.disk-window__form-button {
  border: 2px solid var(--accent-color);
  padding: 9px 17px;
  background-color: transparent;
  cursor: pointer;
  inline-size: 100%;
  position: relative;
}

.disk-window__form-button:focus {
  outline: none;
}

.disk-window__form-button:focus-visible {
  outline: var(--accent-color) solid 2px;
}

.floppy-icon-large {
  inline-size: 39px;
  block-size: 39px;
}

.theme-menu__button:focus {
  outline: none;
}

.card__like-button:focus {
  outline: none;
}

.button-hover-effect::after {
  content: "";
  position: absolute;
  background-color: var(--accent-color);
  transform: scaleX(0);
  transform-origin: left;
  inline-size: 100%;
  block-size: 100%;
  inset-inline-start: 0;
  inset-block-start: 0;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:hover .like-icon .core,
.card__icon-button:hover .like-icon .main-body,
.card__icon-button:hover .like-icon .contour {
  fill: var(--accent-color);
}

.card__icon-button:active .like-icon .core,
.card__icon-button:active .like-icon .main-body {
  fill: var(--heart-fill);
}

.card__icon-button:hover .like-icon.is-liked .core,
.card__icon-button:hover .like-icon.is-liked .main-body,
.card__icon-button:hover .like-icon.is-liked .contour {
  fill: var(--heart-fill);
}

/* Если размер экрана равен или меньше 375px, то: */

@media (width <= 375px) {
  .header {
    inline-size: 100%;
  }

  .main {
    inline-size: 100%;
  }

  .save__button {
    flex-direction: column;
  }

  .floppy-icon {
    inline-size: 28px;
    block-size: 28px;
  }
}